# Python virtual environment
env/
venv/

# Node.js dependencies
node_modules/

# Byte-compiled Python files
__pycache__/
*.py[cod]

# Model files
*.pkl
*.joblib

# OS junk
.DS_Store

# Editor folders
.vscode/
.idea/
